@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Section */

.home {
    height: 100vh;
    background-color: #0A192F;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h5 {
    color: #FFC70F;
}

.left h1 {
    font-size: 4rem;
    color: #CCD6F6;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.left h2 {
    font-size: 4rem;
    color: #8892BE;
}

.left p {
    padding: 15px 0 0 0;
    color: #8892B0;
    font-weight: lighter;
}

.learn-more {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.learn-more a{
    text-decoration: none;
    color: #fff;
}

.learn-more::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.learn-more:hover::before {
    width: 105%;
}

.learn-more:hover {
    color: #111;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77, 54, 208, 1) 0%, rgba(132, 116, 254, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button span a{
    text-decoration: none;
    color:#bebebe;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

.social-icons a i{
    font-size: 2em;
    margin: 5px;
}

/* about section */

.about {
    height: 100vh;
    background-color: #0A192F;
}

.about1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header h1{
    color: #FFC70F;
    font-weight: 600;
    text-decoration: underline;
    padding: 1.5em 0 0 0;
    text-align: center;
}

.container header p{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.articles-card {
    max-width: 350px;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
    transition: .3s all ease;
    margin: 20px 0;
}

.articles-card:hover{
    box-shadow: 0 0 0 2px #980d0d, 0 10px 60px 0 rgba(#000, .1);
    transform: translatey(-5px);
    border: 2px solid purple;
}

.articles-card:focus-within{
    box-shadow: 0 0 0 2px #980d0d, 0 10px 60px 0 rgba(#000, .1); 
}

.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    margin: 0.5em 0;
    max-height: 200px;
    object-fit: cover;
    max-width: 280px;
}

.love-icon i{
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
    font-size: 25px;
}

.medium-link{
    color: #090909;
    padding: 0.3em 1em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   medium-link:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }

.card{
    padding: 10px;
}